select.create-add-note(onchange='addNote(this)')
	option(value='add') - +
	option(value='text') - text
	option(value='url') - link
	option(value='img') - img
button.create-remove-note(onclick='removeNote(this)') -
