button.create-add-note(onclick='addNote(this)', value='text') txt
button.create-add-note(onclick='addNote(this)', value='url') url
button.create-add-note(onclick='addNote(this)', value='img') img
button.create-remove-note(onclick='removeNote(this)') -
