button.create-add-prep(onclick='addPrep(this)', value='txt') txt
button.create-add-prep(onclick='addPrep(this)', value='url') url
button.create-add-prep(onclick='addPrep(this)', value='img') img
button.create-remove-prep(onclick='removePrep(this)') -
