doctype
html
	head
		title Edit a lesson
		link(rel="stylesheet", href="./style.css")
		script(src="./main.js")
	body
		div.create-container
			div.create-course
				div.edit-existing-course#existing-course= course
			div.create-lesson
				input.create-lesson-title#title(type='text', value= title)
			div.create-path
				input.show-local-path#local-path(type='text', placeholder='course folder', value= path.local)

				button.create-local-path(onclick='selectCoursePath(this)') select
				br
				br
				input.create-remote-path#remote-path(type='text', placeholder='repository url', value= path.remote)
			each concept in concepts
				div.create-concept
					input.create-concept-name(type='text', value= concept.concept)
					each prep in concept.prep
						div.create-note
							if prep.type == 'txt'
								input.create-concept-note(type='text', kind='text', value= prep.text)
								include includes/add-note.pug
							else if prep.type == 'url'
								input.create-concept-note.url(type='text', kind='url', value= prep.url)
								input.create-concept-note(type='text', kind='url', value= prep.text)
								include includes/add-note.pug
							else if prep.type == 'img'
								input.create-concept-note.url(type='text', kind='img', value= prep.src)
								include includes/add-note.pug

					button.create-add-concept(onclick='addConcept(this)') +
					button.create-remove-concept(onclick='removeConcept(this)') -

			div.interface-buttons
				button.lesson-btn.create-lesson-save(onclick='saveLesson()') save
				button.lesson-btn.create-lesson-exit(onclick='exitLesson()') exit
				div.msg-log#msg-log
