doctype
html
	head
		meta(charset="utf8")
		title= title
		script(src="./renderer.js")
		link(rel='stylesheet', href='./style.css')
	body(onload='init()')
		canvas#drawing-board
		div.container#writing-board
			div.interface-buttons
				button.save-session(onclick="saveSession()") save
				button.toggle-draw(onclick="toggleDraw()") write
				button.clear-board(onclick="clearBoard()") clear
			div.concept-buttons
				each val, index in concepts
					button.concept(concept= index, onclick='switchConcept(' + index + ')')= index + '. '+ val[0]
			each notes, index in concepts
				div.prep-group
					each note  in notes
						if note.type == "text"
							div.prep.note(concept= index)= note.content
						if note.type == "link"
							div.prep.note(concept= index)
								a(href= note.url)= note.content
						if note.type == "img"
							div.prep.note(concept= index)
								img(src= note.src)

	

