doctype
html
	head
		meta(charset="utf8")
		title= title
		script(src="./renderer.js")
		link(rel='stylesheet', href='./style.css')
	body(onload='init()')
		div.container
			div.interface-buttons
				button.save-session(onclick="saveSession()") Save Session
			div.concept-buttons
				each val, index in concepts
					button.concept(onclick='switchConcept(' + index + ')')= val[0]
			each notes, index in concepts
				each note  in notes
					div.prep.note(concept= index)= note

	

