doctype
html
	head
		meta(charset='utf8')
		title Multimodal - welcome
		script(src='./main.js')
		link(rel='stylesheet', href='./style.css')
	body
		div.container
			div.lessons-container
				div.lessons
					each cl in classes
						div.inter-class
							div.inter-class-title= cl.title
							ul
								each lesson in cl.lessons
									li
										button.inter-btn(onclick='openLesson("'+cl.title+'","'+lesson+'")')= lesson
			div.create-container
				button.inter-btn-main(onclick='prepareLesson()') prepare a new lesson
