@import 'globals';

.create-container {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 100px;
	overflow: auto;
}

.create-course{
	width: 95%;
	height: auto;
	overflow: auto;
	margin-top: 2%;
	padding: 2%;
	text-align: left;
	border: 3px solid black;
}

.create-course h1{
	margin-left: 3%;
}

.create-lesson {
	margin: 10px;
	font-size: 20px;
}

.create-lesson-title{
	font-size: 64px;
	color: $dark-grey;
	border: none;
	border-bottom: 2px solid $dark-grey;
	padding: 2px;
	width: 70%;

	@media (max-width: 1300px){
		font-size: 48px;
	}
}

.create-lesson-save:hover, .create-lesson-exit:hover{
	background-color: black;
	color: white;
}

.create-new-course{
	font-size: 36px;
	padding: 0px 15px 5px 15px;
	float: right;
	margin-left: 5px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}

/* COURSE WINDOW */
.course-name, .course-year, .course-path {
	width: 94%;
	font-size: 24px;
	height: 48px;
	display: block;
	float: left;

	margin: 3%;
}

.course-path {
	width: 70%;
	margin: 10px;
	float: left;
}

.create-course-save{
	float: left;
}

 .show-local-path {
	 width: 85%;
	 font-size: 36px;
 }

.create-local-path{
	display: inline;
	border: none;
	font-size: 24px;
	height: 48px;
	padding: 5px;
	margin-left: 5px;
	margin-top: 3%;
	background-color: black;
	color: white;
}

/* ---------------------------- */

.edit-existing-course{
	width: 100%;
	text-align: right;
	font-size: 48px;
	font-weight: bold;
	background-color: white;
	color: black;
}

.create-btn {
	float: right;
	height: 32px;
	cursor: pointer;
}

.create-courses-list {
	font-size: 36px;
	background-color: white;
	color: black;
	border: 2px solid black;
	width: 50%;
	cursor: pointer;
}

.create-path {
	padding: 10px;
}

//-- concepts and notes

//-- this holds both preps and notes
.content-holder{
	width: 100%;
	height: auto;
	overflow: auto;
}

.prep-holder {
	width: 50%;
	float: left;
}

.prep-holder-create{
	width: 100%;
}

.create-add-note-holder{
	margin-left: 5%;
}

.notes-holder, .writeups-holder{
	width: 20%;
	float: left;
	border-left: 2px solid black;
}

.notes-holder textarea, .writeups-holder textarea {
	width: 90%;
	margin-left: 5%;
	background-color: #eeeeee;
}

input[type=text], textarea{
//	font-size: 20px;
	border: none;
	border-bottom: 1px solid black;
}

input:disabled{
	float: left;
	background-color: white;
}

.create-concept {
	float: left;
	margin: 1% 0 1% 0;
	padding: 10px;
	padding-bottom: 5px;
	border: 2px solid black;

}

.create-concept-prep {
	font-size: 24px;
	margin-right: 10px;
	width: 100%;
}

.create-concept-tag {
	width: 40%;
}

.create-concept-note, .create-concept-writeup {
	font-size: 24px;
	width: 100%;
}

.create-concept-note textarea, .create-concept-note textarea {
	font-size: 24px;
}

.create-concept-name {
	color: $dark-grey;
	border: none;
	border-bottom: 2px solid black;
	width: 60%;
	float: left;
	font-size: 48px;
	margin-bottom: 10px;
}

.create-concept-tag {
	color: $dark-grey;
	border: none;
	border-bottom: 1px solid black;
	width: 50%;
	float: left;
	font-size: 24px;
	margin-bottom: 20px;
}

.create-prep{
	margin-bottom: 10px;
	width: 95%;
	margin-left: 20px;
}

.url {
	font-style: italic;
}

.create-add-holder{
	float: left;
	margin-bottom: 2%;
	width: 100%;
}

.create-add-remove-holder{
	float: right;
}

.create-add-prep, .create-remove-prep, .create-add-note, .create-remove-note, .create-add-writeup, .create-remove-writeup {
	border: none;
	margin: 5px;
	font-size: 18px;
	color: black;
	background-color: white;
	border: 2px solid black;

	cursor: pointer;
}

.create-concept-buttons {
	width: 100%;
	height: 20px;
}

.create-add-concept, .create-remove-concept, .create-btn {
	float: right;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 5px;
	color: black;
	background-color: white;
	border: 2px solid black;

	cursor: pointer;
}

.create-add-concept:hover, .create-remove-concept:hover, .create-add-note:hover, .create-remove-note:hover, .create-add-prep:hover, .create-remove-prep:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
