@import 'globals';

.create-container {
	width: 80%;
	margin-left: 10%;
}

.create-new-course{
	font-size: 48px;
	width: 100%;
	text-align: right;
	background-color: $dark-grey;
	color: $light-grey;
	padding: 10px;
}

.create-lesson {
	margin: 10px;
	font-size: 20px;
}

input[type=text]{
	font-size: 20px;
	border: none;
	border-bottom: 2px solid black;
	background-color: $light-grey;
}

.create-concept {
	margin: 20px;
	padding: 10px;
	border: 2px solid $mid-grey;
}

.create-concept-name {
	background-color: $dark-grey;
}

.create-note{
	margin-bottom: 10px;
	width: 60%;
}

.create-add-note, .create-remove-note {
	border: none;
	margin: 5px;
}

.create-concept-buttons {
	width: 100%;
	height: 20px;
}

.create-add-concept, .create-remove-concept {
	float: right;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 15px;
	text-align: center;
	margin-bottom: 5px;
}

.create-add-concept:hover, .create-remove-concept:hover, .create-add-note:hover, .create-remove-note:hover{
	background-color: $mid-grey;
	cursor: pointer;
}
