@import 'globals';

.create-container {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 150px;
}

.create-course{
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 30px;
	text-align: left;
	background-color: black;
}

.create-lesson {
	margin: 10px;
	font-size: 20px;
}

.create-lesson-title{
	font-size: 64px;
	color: $dark-grey;
	border: none;
	border-bottom: 2px solid $dark-grey;
	padding: 2px;
	width: 70%;
}

.create-new-course{
	font-size: 48px;
	width: 50%;
	margin-left: 5px;
}

/* COURSE WINDOW */
.course-name, .course-year, .course-path {
	width: 94%;
	font-size: 24px;
	height: 48px;
	display: block;
	float: left;

	margin: 3%;
	padding-left: 5px;
}

.course-path {
	width: 70%;
	margin: 10px;
	float: inherit;
}

.create-course-save{
	float: left;
	width: 100%;
}

.create-local-path {
	display: inline;
	border: none;
	font-size: 24px;
	height: 48px;
	padding: 5px;
	margin-left: 5px;
	margin-top: 3%;
	background-color: $light-grey;
}

/* ---------------------------- */

.edit-existing-course{
	width: 100%;
	text-align: right;
	font-size: 48px;
	font-weight: bold;
	background-color: white;
	color: black;
}

.create-btn {
	float: right;
	height: 32px;
	cursor: pointer;
}

.create-courses-list {
	font-size: 48px;
	background-color: $light-grey;
	color: $dark-grey;
	border: none;

}

.create-path {
	margin: 10px;
	padding: 10px;
}

//-- concepts and notes

//-- this holds both preps and notes
.content-holder{
	width: 100%;
	height: auto;
	overflow: auto;
}

.prep-holder {
	width: 70%;
	float: left;
}

.prep-holder-create{
	width: 100%;
}

.notes-holder{
	width: 25%;
	float: right;
}
input[type=text]{
//	font-size: 20px;
	border: none;
	border-bottom: 2px solid black;
	//background-color: $light-grey;
}

.create-concept {
	margin: 20px 20px 30px 20px;
	padding: 10px;
	padding-bottom: 5px;
	border: 2px solid black;
}

.create-concept-prep {
	font-size: 32px;
	margin-right: 10px;
	width: 80%;
}

.create-concept-note {
	font-size: 24px;
	width: 100%;
}

.create-concept-name {
	color: $dark-grey;
	border: none;
	width: 100%;
	float: left;
	font-size: 48px;
	margin-bottom: 12px;
}

.create-prep{
	margin-bottom: 10px;
	width: 80%;
	margin-left: 20px;
}

.url {
	font-style: italic;
}

.create-add-prep, .create-remove-prep {
	border: none;
	float: right;
	margin: 5px;
	font-size: 18px;
	color: black;
	background-color: white;
	border: 2px solid black;

	cursor: pointer;
}

.create-concept-buttons {
	width: 100%;
	height: 20px;
}

.create-add-concept, .create-remove-concept, .create-btn {
	float: right;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 5px;
	color: black;
	background-color: white;
	border: 2px solid black;

	cursor: pointer;
}

.create-add-concept:hover, .create-remove-concept:hover, .create-add-note:hover, .create-remove-note:hover, .create-add-prep:hover, .create-remove-prep:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
