$mid-grey: #999999;
$dark-grey: #333333;
$light-grey: #f0f0f0;
$light-orange: #ff9933;
$mid-orange: #e77607;
$dark-orange: #b25900;


$btn-size: 2.2em;
$btn-concept-size: 1.3em;

$break-medium: 1300px;

@font-face {
    font-family: 'Inter UI';
    src: url('assets/Inter-UI/Inter-UI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('assets/Inter-UI/Inter-UI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter UI';
    src: url('assets/Inter-UI/Inter-UI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
	font-family: 'Inter UI', 'Trebuchet MS'
}

a {
	color: $mid-orange;
}

a:hover{
	color: $dark-orange;
}

.msg-log {
	float: right;
	height:100%;
	margin-right: 3%;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: $btn-size;
	opacity: 0;

	background-color: $dark-grey;
	color: $light-grey;

	transition: opacity 0.5s ease-in-out;
}

.info {
	background-color: darkseagreen;
}

.error {
	background-color: crimson;
}

.metadata{
	visibility: hidden;
}

div, img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
