@import 'globals';

.lessons-container, canvas{
	position: absolute;
	top: 0px;
	left: 0px;
}

canvas {
	z-index: 1;
}

.lessons-container {
	width: 100%;
	height: 100%;
}

.lesson-btn {
	border: none;
	color: $dark-grey;
	background-color: $light-grey;

	font-family: 'Inter UI';
	font-size: 1.2em;
	
	cursor: pointer;
}


.lesson-btn:hover{
	background-color: $mid-grey;
	color: $light-grey;
}

.lesson-btn:active{
	border: none;
}

.concept-buttons, .interface-buttons {
	z-index: 2;
}

.concept-buttons{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10%;
	height: 100%;

	background-color: $light-grey;
}

.concept {
	width: 100%;
	margin: 0%;
	display: block;
	float: left;

	padding-right: 20px;
	text-align: right;
}

.current-concept {
	background-color: $dark-grey;
	color: $light-grey;
}
.interface-buttons {
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 100%;

	background-color: $light-grey;

	button {
		margin-right: 2%;
	}
}
