body{

  margin: 0px;
  padding: 0px;

  font-family: 'Inter UI';

  .note{
    position: absolute;
    z-index: 5;

    width: 40%;

    color: black;
    font-size: 2.5em;

    transition: opacity 0.5s ease-in;

    @media (max-width: 1300px){
      font-size: 2em;
    }
  }

  .title {
    font-size: 2.3em;
    font-weight: bold;
  }

  textarea {
	  font-family: 'Inter UI';
	  background-color: rgba(1, 0, 0, 0);
	  border: none;
	  outline: none;
    height: auto;
  }

  .written {
	   width: 30%;
  }

  #current{
	   position: absolute;
     font-weight: bold;
     overflow-y: visible;
  }

  .prep-group{
	  position: absolute;
	  top: 5%;
	  left: 10%;
	  width: 60%;
  }

  .prep{
	  position: relative;
	  opacity:0;

	  font-family: 'Inter UI';
	  font-style: italic;
	  font-size: 2em;

    @media (max-width: 1300px){
      font-size: 2.5em;
    }

	  color: black;

	  width: 100%;
	  margin-top: 5%;
	  text-align: left;
  }

  .prep-tag-anchor {
    margin-left: 10px;
    font-size: 0.5em;
    cursor: pointer;
  }

  img{
	  max-height: 450px;
    max-width: 900px;
  }
}
