@import 'globals';

.subjects-container{
	overflow-y: auto;
}


.buttons-container, .subjects-container{
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
}

.buttons-container {
	right: 0px;
}

.subjects{
	padding: 5%;
	margin-bottom: 5%;
}

.subject-title {
	width: 100%;
	font-weight: bold;
	font-size: 2em;
}

.selected {
	background-color: $main-fg-color;
	color: $main-bg-color;
	border-color: $main-fg-color;
	font-weight: bold;
}

.inter-btn:hover, .inter-btn-main:hover{
	background-color: $main-fg-color;
	color: $main-bg-color;
}

.inter-btn-main{
	position: relative;
	display: inline;
	width: auto;
	font-size: $btn-size;

	@media (max-width: $break-medium){
		font-size: 1.5em;
	}
}

.inter-btn-main:disabled {
	cursor: default;
	background-color: $main-bg-color;
	color: $main-bg-color; // ?????????
}
