@import 'globals';

.courses-container{
	overflow-y: auto;
}


.buttons-container, .courses-container{
	position: absolute;
	width: 50%;
	height: 100%;
	float: left;
}

.buttons-container {
	right: 0px;
}

.lessons{
	padding: 5%;
}

.inter-class-title {
	width: 100%;
	font-weight: bold;
	font-size: 2em;
}

.inter-btn, .inter-btn-main {
	border: none;
	color: $dark-grey;
	background-color: $light-grey;
	font-family: 'Inter UI';
	font-size: 1.2em;
	cursor: pointer;
}

.inter-btn:hover, .inter-btn-main:hover{
	background-color: $mid-grey;
}

.inter-btn-main{
	position: relative;
	display: block;
	top: 30%;
	left: 30%;
	width: 40%;
	font-size: 3em;
}

