body {
  font-family: 'Inter UI'; }

.msg-log {
  float: right;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter UI'; }
  body .note {
    position: absolute;
    z-index: 5;
    color: black;
    font-size: 2em;
    transition: opacity 0.5s ease-in; }
  body #current {
    position: absolute;
    color: red;
    font-weight: bold; }
  body .prep-group {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 60%; }
  body .prep {
    position: relative;
    opacity: 0;
    font-family: 'Inter UI';
    font-style: italic;
    font-size: 3em;
    color: #444444;
    width: 100%;
    margin-top: 5%;
    text-align: left; }
  body img {
    max-width: 800px;
    max-height: 600px; }
body {
  font-family: 'Inter UI'; }

.msg-log {
  float: right;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.lessons-container, canvas {
  position: absolute;
  top: 0px;
  left: 0px; }

canvas {
  z-index: 1; }

.active {
  visibility: visible;
  pointer-events: auto;
  cursor: crosshair; }

.inactive {
  visibility: hidden;
  pointer-events: none; }

.lessons-container {
  width: 100%;
  height: 100%; }

.lesson-btn, .concept-btn {
  border: none;
  color: #333333;
  background-color: #f0f0f0;
  font-family: 'Inter UI';
  font-size: 2.2em;
  cursor: pointer; }

.concept-btn {
  font-size: 1.3em; }

.lesson-btn:hover, .concept-btn:hover {
  background-color: #999999;
  color: #f0f0f0; }

.lesson-btn:active, .lesson-btn:active {
  border: none; }

.exit-lesson, .save-session {
  float: right; }

.concept-buttons, .interface-buttons {
  z-index: 2; }

.concept-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10%;
  height: 100%;
  background-color: #f0f0f0; }

.concept {
  width: 100%;
  margin: 0%;
  display: block;
  float: left;
  padding-right: 20px;
  text-align: right; }

.current-concept {
  background-color: #333333;
  color: #f0f0f0; }

.interface-buttons {
  position: fixed;
  z-index: 3;
  bottom: 0px;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #f0f0f0; }
  .interface-buttons button {
    margin-right: 2%; }
body {
  font-family: 'Inter UI'; }

.msg-log {
  float: right;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.courses-container {
  overflow-y: auto; }

.buttons-container, .courses-container {
  position: absolute;
  width: 50%;
  height: 100%;
  float: left; }

.buttons-container {
  right: 0px; }

.lessons {
  padding: 5%; }

.inter-class-title {
  width: 100%;
  font-weight: bold;
  font-size: 2em; }

.welcome-lesson, .inter-btn-main {
  border: none;
  color: #333333;
  background-color: #f0f0f0;
  font-family: 'Inter UI';
  font-size: 1.2em;
  cursor: pointer; }

.welcome-lesson {
  border: 2px solid #f0f0f0;
  padding: 5px;
  color: #999999; }

.welcome-lesson:hover {
  border-color: #999999;
  color: #333333; }

.selected {
  color: #333333;
  font-weight: bold; }

.inter-btn:hover, .inter-btn-main:hover {
  background-color: #999999; }

.inter-btn-main {
  position: relative;
  display: inline;
  top: 30%;
  width: auto;
  font-size: 2.2em; }

.inter-btn-main:disabled {
  cursor: default;
  background-color: white;
  color: #f0f0f0; }
body {
  font-family: 'Inter UI'; }

.msg-log {
  float: right;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.create-container {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 150px; }

.create-course {
  width: 100%;
  height: auto;
  padding: 30px;
  text-align: left;
  background-color: #999999; }

.create-new-course {
  font-size: 48px;
  width: 50%;
  margin-left: 5px; }

.edit-existing-course {
  width: 100%;
  text-align: right;
  font-size: 48px;
  font-weight: bold;
  color: #f0f0f0; }

.create-btn {
  float: right;
  height: 32px;
  cursor: pointer; }

.create-courses-list {
  font-size: 48px;
  background-color: #f0f0f0;
  color: #333333;
  border: none; }

.create-path {
  margin: 10px;
  padding: 10px;
  border: 2px solid #999999; }

.show-local-path, .create-remote-path {
  font-size: 24px;
  display: block;
  float: left;
  width: 50%; }

.create-remote-path {
  float: none; }

.create-local-path {
  display: inline;
  border: none;
  font-size: 24px;
  margin-left: 5px;
  background-color: #f0f0f0; }

.create-local-path:hover {
  background-color: #999999;
  cursor: pointer; }

.create-lesson {
  margin: 10px;
  font-size: 20px; }

.create-lesson-title {
  font-size: 32px;
  background-color: #f0f0f0;
  color: #333333;
  border: none;
  border-bottom: 2px solid #333333;
  padding: 2px; }

input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  background-color: #f0f0f0; }

.create-concept {
  margin: 20px;
  padding: 10px;
  border: 2px solid #999999; }

.create-concept-note {
  font-size: 32px;
  margin-right: 10px; }

.create-concept-name {
  background-color: #f0f0f0;
  color: #333333;
  border: none;
  width: 50%;
  font-size: 48px;
  margin-bottom: 12px; }

.create-note {
  margin-bottom: 10px;
  width: 80%;
  margin-left: 20px; }

.url {
  font-style: italic; }

.create-add-note, .create-remove-note {
  border: none;
  margin: 5px;
  font-size: 18px;
  color: #333333; }

.create-concept-buttons {
  width: 100%;
  height: 20px; }

.create-add-concept, .create-remove-concept, .create-btn {
  float: right;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px; }

.create-add-concept:hover, .create-remove-concept:hover, .create-add-note:hover, .create-remove-note:hover {
  background-color: #999999;
  cursor: pointer; }
