body {
  font-family: 'Inter UI'; }
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter UI'; }
  body .note {
    position: absolute;
    color: black;
    font-size: 2em;
    transition: opacity 0.5s ease-in; }
  body #current {
    position: absolute;
    color: red;
    font-weight: bold; }
  body .prep-group {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 60%; }
  body .prep {
    position: relative;
    opacity: 0;
    font-family: 'Inter UI';
    font-style: italic;
    font-size: 3em;
    color: #444444;
    width: 100%;
    margin-top: 5%;
    text-align: left; }
  body img {
    max-width: 800px;
    max-height: 600px; }
body {
  font-family: 'Inter UI'; }

.lessons-container, canvas {
  position: absolute;
  top: 0px;
  left: 0px; }

canvas {
  z-index: 1; }

.lessons-container {
  width: 100%;
  height: 100%; }

.lesson-btn {
  border: none;
  color: #333333;
  background-color: #f0f0f0;
  font-family: 'Inter UI';
  font-size: 1.2em;
  cursor: pointer; }

.lesson-btn:hover {
  background-color: #999999;
  color: #f0f0f0; }

.lesson-btn:active {
  border: none; }

.concept-buttons, .interface-buttons {
  z-index: 2; }

.concept-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10%;
  height: 100%;
  background-color: #f0f0f0; }

.concept {
  width: 100%;
  margin: 0%;
  display: block;
  float: left;
  padding-right: 20px;
  text-align: right; }

.current-concept {
  background-color: #333333;
  color: #f0f0f0; }

.interface-buttons {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #f0f0f0; }
  .interface-buttons button {
    margin-right: 2%; }
body {
  font-family: 'Inter UI'; }

.courses-container {
  overflow-y: auto; }

.buttons-container, .courses-container {
  position: absolute;
  width: 50%;
  height: 100%;
  float: left; }

.buttons-container {
  right: 0px; }

.lessons {
  padding: 5%; }

.inter-class-title {
  width: 100%;
  font-weight: bold;
  font-size: 2em; }

.inter-btn, .inter-btn-main {
  border: none;
  color: #333333;
  background-color: #f0f0f0;
  font-family: 'Inter UI';
  font-size: 1.2em;
  cursor: pointer; }

.inter-btn:hover, .inter-btn-main:hover {
  background-color: #999999; }

.inter-btn-main {
  position: relative;
  display: block;
  top: 30%;
  left: 30%;
  width: 40%;
  font-size: 3em; }
body {
  font-family: 'Inter UI'; }

.create-container {
  width: 80%;
  margin-left: 10%; }

.create-lesson {
  margin: 10px; }

.create-concept {
  margin: 20px; }
