doctype
html
	head
		meta(charset='utf8')
		title Multimodal
		script(src="http://localhost:8098")
		link(rel='stylesheet', href='./style.css')
	body
		div#notice-board.container
		div#dialog
		script.
			data=!{data}
		script(src='./main.js')
