doctype
html
	head
		meta(charset="utf8")
		title Multimodal | Create a new course
		link(rel="stylesheet", href="./style.css")
		script(src="./main.js")
	body
		div.create-container
			div.create-course
				h1 create a new course
				input.course-name#course-name(type='text', placeholder='course name', value='')
				input.course-path#course-path(type='text', placeholder='course folder path', value='')
				button.create-local-path(onclick='selectCoursePath(this)') select
			div.buttons-container
				button.lesson-btn.create-course-exit(onclick='exitCourse()') exit
				button.lesson-btn.create-course-save(onclick='saveCourse()') save
				div.msg-log#msg-log
