doctype
html
	head
		meta(charset="utf8")
		title Multimodal | Create a new lesson
		link(rel="stylesheet", href="./style.css")
		script(src="./main.js")
	body
		div.create-container
			div.create-course
				select.create-courses-list#course-list(onchange='selectCourse(this)' onfocus='this.selectedIndex = -1')
					each course in courses
						option(value= course.name, created= course.created, path= course.path, id= course.id)= course.name
					option(value='create-course') create new course...
			div.create-lesson
				input.create-lesson-title#name(placeholder='lesson name')
				div.content-holder
					div.prep-holder-create
						div.create-concept
							input.create-concept-name(placeholder='concept name')
							input.create-concept-tag(placeholder='concept tag')
							
							div.prep-holder
								include includes/add-prep.pug
							button.create-add-concept(onclick='addConcept(this)') +
							button.create-remove-concept(onclick='removeConcept(this)') -
							div.notes-holder
								div.create-concept-note
									include includes/add-note.pug
							div.writeups-holder
								div.create-concept-writeup
									include includes/add-writeup.pug

			div.buttons-container
				button.lesson-btn.create-lesson-save(onclick='saveLesson("prep")') save
				button.lesson-btn.create-lesson-exit(onclick='exitLesson()') exit
				div.msg-log#msg-log
