doctype
html
	head
		meta(charset="utf8")
		title Multimodal | Edit a lesson
		link(rel="stylesheet", href="./style.css")
		script(src="./main.js")
	body
		div.create-container
			div.create-course
				div.edit-existing-course#existing-course(year= course.year)= course.name
			div.create-lesson
				input.create-lesson-title#title(type='text', value= title)
			div.create-path
				input.course-path#local-path(type='text', placeholder='course folder', value= course.path, disabled)

			each concept in concepts
				div.create-concept
					input.create-concept-name(type='text', value= concept.concept)
					input.create-concept-tag(type='text', value= concept.tag, placeholder="concept tag", width="100%")
					
					div.prep-holder
						include includes/add-prep.pug
						each prep in concept.prep
							div.create-prep
								if prep.type == 'txt'
									input.create-concept-prep(type='text', kind='txt', value= prep.text)
									input.create-concept-prep(type='text', kind='tag', value= prep.tag, placeholder="tag")
									include includes/add-remove-prep.pug
									
								else if prep.type == 'url'
									input.create-concept-prep.url(type='text', kind='url', value= prep.url)
									input.create-concept-prep(type='text', kind='url', value= prep.text)
									include includes/add-remove-prep.pug
									
								else if prep.type == 'img'
									input.create-concept-prep.url(type='text', kind='img', filename= prep.name, value= prep.name, src= prep.src)
									include includes/add-remove-prep.pug
									
								else if prep.type == 'vid'
									input.create-concept-prep.url(type='text', kind='vid', filename= prep.name, value= prep.name, src= prep.src)
									include includes/add-remove-prep.pug
										
					div.notes-holder
						div
							include includes/add-note.pug
						each note in concept.notes
							div.create-concept-note
								textarea= note
								include includes/add-note.pug
								
					div.writeups-holder
						div
							include includes/add-writeup.pug
						each writeup in concept.writeups
							div.create-concept-writeup
								textarea= writeup
								include includes/add-writeup.pug

					button.create-add-concept(onclick='addConcept(this)') +
					button.create-remove-concept(onclick='removeConcept(this)') -

			div.interface-buttons
				button.lesson-btn.create-lesson-save(onclick='saveLesson("in-class")') save
				button.lesson-btn.create-lesson-exit(onclick='exitLesson()') exit
				div.msg-log#msg-log
