doctype
html
	head
		meta(charset="utf8")
		title= name + ' | notes'
		style
			include includes/export.css
	body
		header
			h2= name
		main
			h1 course notes
			ol
				for topic in topics
					li
						a(href= topic.name+'.html')= topic.name
