doctype
html
	head
		meta(charset="utf8")
		title Multimodal
		script(src="http://localhost:8098")
		link(rel='stylesheet', href='./style.css')
	body

		div#writing-board
				
		script.
			data=!{data}
		script(src="./lesson.js")
