doctype
html
	head
		meta(charset='utf8')
		title Multimodal | Browse
		script(src="http://localhost:8098")
	body
		div#navigation-bar
			div.nav-left back
			div.nav-right forward
		script(src='./navigation.js')
