doctype
html
	head
		meta(charset='utf8')
		title Multimodal | Browse
		script(src="http://localhost:8098")
	body(onload="init")
		div#navigation-bar
			div.nav-left <-
			div.nav-right ->
		script(src='./navigation.js')
