doctype
html
	head
		meta(charset='utf8')
		title Multimodal | Welcome
		script(src='./main.js')
		link(rel='stylesheet', href='./style.css')
	body
		div.container
			div.courses-container
				div.lessons
					each cl in courses
						div.inter-class
							div.inter-class-title= cl.course.name
							ul
								each lesson in cl.lessons
									li.welcome-lesson(onclick='setLesson(this, "'+cl.course.name+'","'+lesson+'")', ondblclick='openLesson("'+cl.course.name+'", "'+lesson+'")')= lesson
					else
						div.welcome-message 
							h2 Welcome to Multimodal!
							div It seems you haven't added any courses! 
								ul
									li Click 'Create' to get started...
									li Or peruse <a href="https://periode.github.io/multimodal/" target="_blank">the homepage</a> to learn more.

			div.interface-buttons
				button.inter-btn-main(onclick='createLesson()') create
				button.inter-btn-main(onclick='editLesson()', disabled) edit
				button.inter-btn-main(onclick='editNotesLesson()', disabled) edit with notes
				button.inter-btn-main(onclick='openLesson()', disabled) open
				button.inter-btn-main(onclick='exportLesson()', disabled) export
				div.msg-log#msg-log 
