@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter UI', 'Trebuchet MS';
  background-color: #202020;
  color: #eeeeee;
  overflow-x: hidden;
}

a {
  color: #e77607;
}

a:hover {
  color: #b25900;
}

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out;
}

.info {
  background-color: darkseagreen;
}

.error {
  background-color: crimson;
}

.metadata {
  visibility: hidden;
}

div,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter UI', 'Trebuchet MS';
  background-color: #202020;
  color: #eeeeee;
  overflow-x: hidden;
}

a {
  color: #e77607;
}

a:hover {
  color: #b25900;
}

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out;
}

.info {
  background-color: darkseagreen;
}

.error {
  background-color: crimson;
}

.metadata {
  visibility: hidden;
}

div,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter UI';
}

.note {
  position: absolute;
  z-index: 5;
  width: 40%;
  color: #eeeeee;
  font-size: 2.5em;
  transition: opacity 0.5s ease-in;
}

@media (max-width: 1300px) {
  .note {
    font-size: 2em;
  }
}

.title {
  font-size: 2.3em;
  font-weight: bold;
}

textarea {
  font-family: 'Inter UI';
  background-color: rgba(1, 0, 0, 0);
  border: none;
  outline: none;
  height: auto;
}

.written {
  width: 100%;
}

.moveable {
  z-index: 4;
  width: initial;
}

#current {
  position: absolute;
  font-weight: bold;
  overflow-y: visible;
}

.page-group {
  position: relative;
  padding-top: 5%;
  padding-left: 10%;
  width: 75vw;
  height: 100vh;
  overflow: hidden;
  border: 2px solid #eeeeee;
}

.prep {
  position: relative;
  opacity: 1;
  font-family: 'Inter UI';
  font-style: italic;
  font-size: 2em;
  color: #eeeeee;
  margin-top: 5%;
  text-align: left;
}

@media (max-width: 1300px) {
  .prep {
    font-size: 2.5em;
  }
}

.prep-tag-anchor {
  margin-left: 10px;
  font-size: 0.5em;
  cursor: pointer;
}

img {
  max-width: 800px !important;
  max-height: 600px;
}

.writeup {
  width: 100%;
  margin: 5px;
  font-family: 'Inter UI';
}@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter UI', 'Trebuchet MS';
  background-color: #202020;
  color: #eeeeee;
  overflow-x: hidden;
}

a {
  color: #e77607;
}

a:hover {
  color: #b25900;
}

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out;
}

.info {
  background-color: darkseagreen;
}

.error {
  background-color: crimson;
}

.metadata {
  visibility: hidden;
}

div,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.lessons-container,
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

canvas {
  z-index: 1;
}

.active {
  visibility: visible;
  pointer-events: auto;
  cursor: crosshair;
}

.lessons-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.lesson-btn,
.concept-btn {
  border: none;
  color: #eeeeee;
  background-color: #202020;
  font-family: 'Inter UI';
  cursor: pointer;
}

.lesson-btn {
  font-size: 2.2em;
}

@media (max-width: 1300px) {
  .lesson-btn {
    font-size: 1.5em;
  }
}

.concept-btn {
  font-size: 1.3em;
}

@media (max-width: 1300px) {
  .concept-btn {
    font-size: 1em;
  }
}

.lesson-btn:hover,
.concept-btn:hover {
  background-color: #202020;
  color: #eeeeee;
}

.lesson-btn:active,
.lesson-btn:active {
  border: none;
}

.exit-lesson,
.save-session {
  float: right;
}

.concept-buttons,
.interface-buttons {
  z-index: 2;
}

.concept-buttons {
  position: fixed;
  top: 0px;
  right: 0px;
  min-width: 10%;
  max-width: 15%;
  height: 100%;
  background-color: #202020;
  border-left: 2px solid #eeeeee;
  color: #202020;
  overflow-y: scroll;
}

.concept {
  width: 100%;
  margin: 0%;
  display: block;
  float: left;
  padding-right: 20px;
  text-align: right;
}

.current-concept {
  background-color: #202020;
  border-left: 10px solid #eeeeee;
  color: #eeeeee;
  font-weight: bold;
}

.interface-buttons {
  position: fixed;
  z-index: 3;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
  height: 5vh;
  width: 100%;
  background-color: #202020;
  border-top: 2px solid #eeeeee;
}

.interface-buttons button {
  margin-right: 2%;
}

.writeup-toggle-outer {
  position: absolute;
  bottom: 0px;
  width: 90%;
  height: 0vh;
  z-index: 4;
  background-color: white;
  transition: all 0.1s linear;
}

.writeup-toggle-inner {
  position: absolute;
  width: 20%;
  top: -10px;
  height: 10px;
  background-color: white;
  margin: auto;
  cursor: pointer;
  z-index: 3;
  margin-left: 40%;
}@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter UI', 'Trebuchet MS';
  background-color: #202020;
  color: #eeeeee;
  overflow-x: hidden;
}

a {
  color: #e77607;
}

a:hover {
  color: #b25900;
}

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out;
}

.info {
  background-color: darkseagreen;
}

.error {
  background-color: crimson;
}

.metadata {
  visibility: hidden;
}

div,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.courses-container {
  overflow-y: auto;
}

.buttons-container,
.courses-container {
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
}

.buttons-container {
  right: 0px;
}

.lessons {
  padding: 5%;
  margin-bottom: 5%;
}

.inter-class-title {
  width: 100%;
  font-weight: bold;
  font-size: 2em;
}

.welcome-lesson,
.inter-btn-main {
  border: none;
  color: #eeeeee;
  background-color: #202020;
  font-family: 'Inter UI';
  font-size: 1.2em;
  cursor: pointer;
}

.welcome-lesson {
  border: 2px solid #202020;
  padding: 5px;
  color: black;
}

.welcome-lesson:hover {
  border-color: #eeeeee;
  font-weight: bold;
}

.selected {
  background-color: #eeeeee;
  color: #202020;
  border-color: #eeeeee;
  font-weight: bold;
}

.inter-btn:hover,
.inter-btn-main:hover {
  background-color: #eeeeee;
  color: #202020;
}

.inter-btn-main {
  position: relative;
  display: inline;
  width: auto;
  font-size: 2.2em;
}

@media (max-width: 1300px) {
  .inter-btn-main {
    font-size: 1.5em;
  }
}

.inter-btn-main:disabled {
  cursor: default;
  background-color: #202020;
  color: #202020;
}@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url("/fonts/Inter-UI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter UI', 'Trebuchet MS';
  background-color: #202020;
  color: #eeeeee;
  overflow-x: hidden;
}

a {
  color: #e77607;
}

a:hover {
  color: #b25900;
}

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out;
}

.info {
  background-color: darkseagreen;
}

.error {
  background-color: crimson;
}

.metadata {
  visibility: hidden;
}

div,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.create-container {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 100px;
  overflow: auto;
}

.create-course {
  width: 95%;
  height: auto;
  overflow: auto;
  margin-top: 2%;
  padding: 2%;
  text-align: left;
  border: 3px solid #eeeeee;
}

.create-course h1 {
  margin-left: 3%;
}

.create-lesson {
  margin: 10px;
  font-size: 20px;
}

.create-lesson-title {
  font-size: 64px;
  color: #333333;
  border: none;
  border-bottom: 2px solid #333333;
  padding: 2px;
  width: 70%;
}

@media (max-width: 1300px) {
  .create-lesson-title {
    font-size: 48px;
  }
}

.create-lesson-save:hover,
.create-lesson-exit:hover {
  background-color: #eeeeee;
  color: #202020;
}

.create-new-course {
  font-size: 36px;
  padding: 0px 15px 5px 15px;
  float: right;
  margin-left: 5px;
  background-color: #eeeeee;
  color: #202020;
  border: none;
  cursor: pointer;
}

/* COURSE WINDOW */

.course-name,
.course-year,
.course-path {
  width: 94%;
  font-size: 24px;
  height: 48px;
  display: block;
  float: left;
  margin: 3%;
}

.course-path {
  width: 70%;
  margin: 10px;
  float: left;
}

.create-course-save {
  float: left;
}

.show-local-path {
  width: 85%;
  font-size: 36px;
}

.create-local-path {
  display: inline;
  border: none;
  font-size: 24px;
  height: 48px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 3%;
  background-color: #eeeeee;
  color: #202020;
}

/* ---------------------------- */

.edit-existing-course {
  width: 100%;
  text-align: right;
  font-size: 48px;
  font-weight: bold;
  background-color: #202020;
  color: #eeeeee;
}

.create-btn {
  float: right;
  height: 32px;
  cursor: pointer;
}

.create-courses-list {
  font-size: 36px;
  background-color: #202020;
  color: #eeeeee;
  border: 2px solid #eeeeee;
  width: 50%;
  cursor: pointer;
}

.create-path {
  padding: 10px;
}

.content-holder {
  width: 100%;
  height: auto;
  overflow: auto;
}

.prep-holder {
  width: 50%;
  float: left;
}

.prep-holder-create {
  width: 100%;
}

.create-add-note-holder {
  margin-left: 5%;
}

.notes-holder,
.writeups-holder {
  width: 20%;
  float: left;
  border-left: 2px solid #eeeeee;
}

.notes-holder textarea,
.writeups-holder textarea {
  width: 90%;
  margin-left: 5%;
  background-color: #eeeeee;
  font-size: 0.8em;
  font-style: italic;
}

input[type=text],
textarea {
  border: none;
  border-bottom: 1px solid #eeeeee;
}

input:disabled {
  float: left;
  background-color: #202020;
}

.create-concept {
  float: left;
  margin: 1% 0 1% 0;
  padding: 10px;
  padding-bottom: 5px;
  border: 2px solid #eeeeee;
  width: 90%;
}

.create-concept-prep {
  font-size: 24px;
  margin-right: 10px;
  width: 100%;
}

.create-concept-tag {
  width: 40%;
}

.create-concept-note,
.create-concept-writeup {
  font-size: 24px;
  width: 100%;
}

.create-concept-note textarea,
.create-concept-note textarea {
  font-size: 24px;
}

.create-concept-name {
  color: #333333;
  border: none;
  border-bottom: 2px solid #eeeeee;
  width: 60%;
  float: left;
  font-size: 48px;
  margin-bottom: 10px;
}

.create-concept-tag {
  color: #333333;
  border: none;
  border-bottom: 1px solid #eeeeee;
  width: 50%;
  float: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.create-prep {
  margin-bottom: 10px;
  width: 95%;
  margin-left: 20px;
}

.url {
  font-style: italic;
}

.create-add-holder {
  float: left;
  margin-bottom: 2%;
  width: 100%;
}

.create-add-remove-holder {
  float: right;
}

.create-add-prep,
.create-remove-prep,
.create-add-note,
.create-remove-note,
.create-add-writeup,
.create-remove-writeup {
  border: none;
  margin: 5px;
  font-size: 18px;
  color: #eeeeee;
  background-color: #202020;
  border: 2px solid #eeeeee;
  cursor: pointer;
}

.create-concept-buttons {
  width: 100%;
  height: 20px;
}

.create-add-concept,
.create-remove-concept,
.create-btn {
  float: right;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #eeeeee;
  background-color: #202020;
  border: 2px solid #eeeeee;
  cursor: pointer;
}

.create-add-concept:hover,
.create-remove-concept:hover,
.create-add-note:hover,
.create-remove-note:hover,
.create-add-prep:hover,
.create-remove-prep:hover {
  background-color: #eeeeee;
  color: #202020;
  cursor: pointer;
}