body {
  font-family: 'Inter UI', 'Trebuchet MS'; }

a {
  color: #e77607; }

a:hover {
  color: #b25900; }

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.info {
  background-color: darkseagreen; }

.error {
  background-color: crimson; }

.metadata {
  visibility: hidden; }

div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter UI'; }
  body .note {
    position: absolute;
    z-index: 5;
    width: 40%;
    color: black;
    font-size: 2.5em;
    transition: opacity 0.5s ease-in; }
    @media (max-width: 1300px) {
      body .note {
        font-size: 2em; } }
  body .title {
    font-size: 2.3em;
    font-weight: bold; }
  body textarea {
    font-family: 'Inter UI';
    background-color: rgba(1, 0, 0, 0);
    border: none;
    outline: none;
    height: auto; }
  body .written {
    width: 30%; }
  body #current {
    position: absolute;
    font-weight: bold;
    overflow-y: visible; }
  body .prep-group {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 60%; }
  body .prep {
    position: relative;
    opacity: 0;
    font-family: 'Inter UI';
    font-style: italic;
    font-size: 2em;
    color: black;
    width: 100%;
    margin-top: 5%;
    text-align: left; }
    @media (max-width: 1300px) {
      body .prep {
        font-size: 2.5em; } }
  body .prep-tag-anchor {
    margin-left: 10px;
    font-size: 0.5em;
    cursor: pointer; }
  body img {
    max-width: 800px;
    max-height: 600px; }
body {
  font-family: 'Inter UI', 'Trebuchet MS'; }

a {
  color: #e77607; }

a:hover {
  color: #b25900; }

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.info {
  background-color: darkseagreen; }

.error {
  background-color: crimson; }

.metadata {
  visibility: hidden; }

div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.lessons-container, canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden; }

canvas {
  z-index: 1; }

.active {
  visibility: visible;
  pointer-events: auto;
  cursor: crosshair; }

.inactive {
  visibility: hidden;
  pointer-events: none; }

.lessons-container {
  width: 100%;
  height: 100%;
  z-index: 0; }

.lesson-btn, .concept-btn {
  border: none;
  color: black;
  background-color: white;
  font-family: 'Inter UI';
  cursor: pointer; }

.lesson-btn {
  font-size: 2.2em; }
  @media (max-width: 1300px) {
    .lesson-btn {
      font-size: 1.5em; } }

.concept-btn {
  font-size: 1.3em; }
  @media (max-width: 1300px) {
    .concept-btn {
      font-size: 1em; } }

.lesson-btn:hover, .concept-btn:hover {
  background-color: white;
  color: black; }

.lesson-btn:active, .lesson-btn:active {
  border: none; }

.exit-lesson, .save-session {
  float: right; }

.concept-buttons, .interface-buttons {
  z-index: 2; }

.concept-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 10%;
  max-width: 15%;
  height: 100%;
  background-color: white;
  border-left: 2px solid black;
  color: white;
  overflow-y: scroll; }

.concept {
  width: 100%;
  margin: 0%;
  display: block;
  float: left;
  padding-right: 20px;
  text-align: right; }

.current-concept {
  background-color: white;
  border-left: 10px solid black;
  color: black;
  font-weight: bold; }

.interface-buttons {
  position: fixed;
  z-index: 3;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
  width: 100%;
  background-color: white;
  border-top: 2px solid black; }
  .interface-buttons button {
    margin-right: 2%; }
body {
  font-family: 'Inter UI', 'Trebuchet MS'; }

a {
  color: #e77607; }

a:hover {
  color: #b25900; }

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.info {
  background-color: darkseagreen; }

.error {
  background-color: crimson; }

.metadata {
  visibility: hidden; }

div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.courses-container {
  overflow-y: auto; }

.buttons-container, .courses-container {
  position: absolute;
  width: 50%;
  height: 100%;
  float: left; }

.buttons-container {
  right: 0px; }

.lessons {
  padding: 5%;
  margin-bottom: 5%; }

.inter-class-title {
  width: 100%;
  font-weight: bold;
  font-size: 2em; }

.welcome-lesson, .inter-btn-main {
  border: none;
  color: black;
  background-color: white;
  font-family: 'Inter UI';
  font-size: 1.2em;
  cursor: pointer; }

.welcome-lesson {
  border: 2px solid white;
  padding: 5px;
  color: black; }

.welcome-lesson:hover {
  border-color: black;
  font-weight: bold; }

.selected {
  background-color: black;
  color: white;
  border-color: black;
  font-weight: bold; }

.inter-btn:hover, .inter-btn-main:hover {
  background-color: black;
  color: white; }

.inter-btn-main {
  position: relative;
  display: inline;
  width: auto;
  font-size: 2.2em; }

.inter-btn-main:disabled {
  cursor: default;
  background-color: white;
  color: white; }
body {
  font-family: 'Inter UI', 'Trebuchet MS'; }

a {
  color: #e77607; }

a:hover {
  color: #b25900; }

.msg-log {
  float: right;
  height: 100%;
  margin-right: 3%;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 2.2em;
  opacity: 0;
  background-color: #333333;
  color: #f0f0f0;
  transition: opacity 0.5s ease-in-out; }

.info {
  background-color: darkseagreen; }

.error {
  background-color: crimson; }

.metadata {
  visibility: hidden; }

div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.create-container {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 100px;
  overflow: auto; }

.create-course {
  width: 95%;
  height: auto;
  overflow: auto;
  margin-top: 2%;
  padding: 2%;
  text-align: left;
  border: 3px solid black; }

.create-course h1 {
  margin-left: 3%; }

.create-lesson {
  margin: 10px;
  font-size: 20px; }

.create-lesson-title {
  font-size: 64px;
  color: #333333;
  border: none;
  border-bottom: 2px solid #333333;
  padding: 2px;
  width: 70%; }
  @media (max-width: 1300px) {
    .create-lesson-title {
      font-size: 48px; } }

.create-lesson-save:hover, .create-lesson-exit:hover {
  background-color: black;
  color: white; }

.create-new-course {
  font-size: 36px;
  padding: 0px 15px 5px 15px;
  float: right;
  margin-left: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer; }

/* COURSE WINDOW */
.course-name, .course-year, .course-path {
  width: 94%;
  font-size: 24px;
  height: 48px;
  display: block;
  float: left;
  margin: 3%; }

.course-path {
  width: 70%;
  margin: 10px;
  float: left; }

.create-course-save {
  float: left; }

.show-local-path {
  width: 85%;
  font-size: 36px; }

.create-local-path {
  display: inline;
  border: none;
  font-size: 24px;
  height: 48px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 3%;
  background-color: black;
  color: white; }

/* ---------------------------- */
.edit-existing-course {
  width: 100%;
  text-align: right;
  font-size: 48px;
  font-weight: bold;
  background-color: white;
  color: black; }

.create-btn {
  float: right;
  height: 32px;
  cursor: pointer; }

.create-courses-list {
  font-size: 36px;
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 50%;
  cursor: pointer; }

.create-path {
  padding: 10px; }

.content-holder {
  width: 100%;
  height: auto;
  overflow: auto; }

.prep-holder {
  width: 65%;
  float: left; }

.prep-holder-create {
  width: 100%; }

.create-add-note-holder {
  margin-left: 5%; }

.notes-holder {
  width: 30%;
  float: right;
  border-left: 2px solid black; }

.notes-holder textarea {
  width: 90%;
  margin-left: 5%;
  background-color: #eeeeee; }

input[type=text], textarea {
  border: none;
  border-bottom: 1px solid black; }

input:disabled {
  float: left;
  background-color: white; }

.create-concept {
  float: left;
  width: 98%;
  margin: 1% 0 1% 0;
  padding: 10px;
  padding-bottom: 5px;
  border: 2px solid black; }

.create-concept-prep {
  font-size: 24px;
  margin-right: 10px;
  width: 100%; }

.create-concept-tag {
  width: 40%; }

.create-concept-note {
  font-size: 24px;
  width: 100%; }

.create-concept-note textarea {
  font-size: 24px; }

.create-concept-name {
  color: #333333;
  border: none;
  border-bottom: 2px solid black;
  width: 60%;
  float: left;
  font-size: 48px;
  margin-bottom: 10px; }

.create-concept-tag {
  color: #333333;
  border: none;
  border-bottom: 1px solid black;
  width: 50%;
  float: left;
  font-size: 24px;
  margin-bottom: 20px; }

.create-prep {
  margin-bottom: 10px;
  width: 95%;
  margin-left: 20px; }

.url {
  font-style: italic; }

.create-add-holder {
  float: left;
  margin-bottom: 2%;
  width: 100%; }

.create-add-remove-holder {
  float: right; }

.create-add-prep, .create-remove-prep, .create-add-note, .create-remove-note {
  border: none;
  margin: 5px;
  font-size: 18px;
  color: black;
  background-color: white;
  border: 2px solid black;
  cursor: pointer; }

.create-concept-buttons {
  width: 100%;
  height: 20px; }

.create-add-concept, .create-remove-concept, .create-btn {
  float: right;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  cursor: pointer; }

.create-add-concept:hover, .create-remove-concept:hover, .create-add-note:hover, .create-remove-note:hover, .create-add-prep:hover, .create-remove-prep:hover {
  background-color: black;
  color: white;
  cursor: pointer; }
