body {
	margin: 0;
	padding: 0;
	font-family: 'Inter UI', Trebuchet MS;
	font-size: 1.3em;
	line-height: 1.6em;
	background-color: white;
}

header{
	background-color: black;
	color: white;
	padding: 10px;
	padding-left: 30px;
	height: 90px;
}

header img{
	position: fixed;
	height: 10%;
	right: 2%;
	top: 10%;

}

header h1{
	width: 100%;
	float: left;
}

main {
	width: 60%;
	margin-left: 20%;
}

main h1{
	padding-top: 30px;
	padding-bottom: 30px;
}

hr {
	border: none;
	height: 2px;
	background-color: black;
	float: left;
	width: 100%;
}

a {
	text-decoration: none;
	color: #e77607;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:visited{
	color: #b25900;
}

p {
	text-align: justify;
}

.newsletter{
	width: 100%;
	padding: 5%;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

.video-holder{
	width: 100%;
	margin: 5%;
}

iframe{
	width: 90%;
	margin: 0 auto;
}

.links {
	width: 100%;
}

.links span {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
}

.important{
	border-bottom: 2px solid #e77607;
}

li {
	margin: 1%;
}

.features-list li {
	font-style: italic;
}
